</br>

<form action="/addFlavor" method="post" id="addFlavor">
	<h2>Add a new flavor to the list:</h2></br>
	<input type="text" name="newFlavor" form="addFlavor">
	<input type="submit" value = "Add">
</form>

</br>
{{message}}
</br>

<ul>
{{#each flavors}}
	<li>{{this.flavor_name}}</li>
{{/each}}
</ul>